<footer>
  <div class="p-10 bg-gray-900 text-white">
    <div class="max-w-7xl mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
        <div class="mb-5">
          <a routerLink="">
            <h4 class="text-2xl pb-4 font-bold">MiTienda</h4>
          </a>
          <p class="text-gray-500">
            Cl. 41 #45-38, Nte. Centro Historico<br />
            Barranquilla, Atlántico <br /><br />
            <strong>Telefono: </strong>0987654321 <br />
            <strong>Email: </strong> miTienda@Mitienda.com <br />
          </p>
        </div>
        <div class="mb-5">
          <h4 class="pb-4 font-semibold">Categorías</h4>
          <ul class="text-gray-500">
            <li class="pb-4">
              <i class="fa fa-chevron-right text-indigo-500"></i
              ><a routerLink="/ProductLists" class="hover:text-indigo-500">
                Blusas</a
              >
            </li>
            <li class="pb-4">
              <i class="fa fa-chevron-right text-indigo-500"></i
              ><a routerLink="/ProductLists" class="hover:text-indigo-500">
                Chaquetas</a
              >
            </li>
            <li class="pb-4">
              <i class="fa fa-chevron-right text-indigo-500"></i
              ><a routerLink="/ProductLists" class="hover:text-indigo-500">
                Zapatos</a
              >
            </li>
          </ul>
        </div>
        <div class="mb-5">
          <h4 class="pb-4 font-semibold">Atención al Cliennte</h4>
          <ul class="text-gray-500">
            <li class="pb-4">
              <i class="fa fa-chevron-right text-indigo-500"></i
              ><a routerLink="/FAQ" class="hover:text-indigo-500">
                Preguntas Frecuentes</a
              >
            </li>
          </ul>
        </div>
        <div class="mb-5">
          <h4 class="pb-4 font-semibold">Sobre nosotros</h4>
          <p class="text-gray-500 pb-2">
            Somos una empresa dedicada al comercio online, brindamos ropa masiva
            de calidad ya la moda. Aquí podrás encontrar todo tipo de ropa,
            accesorios, zapatos, complementos y más.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
